<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Timestamp Microservice</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
        <h1>Timestamp Microservice</h1>
        <h3>Example usage:</h3>
        p https://timestamp-ms.herokuapp.com/December 15, 2015 <br> https://timestamp-ms.herokuapp.com/1450137600
        <h3>Expected result: </h3>
        p { "unix": 1450137600, "natural": "December 15, 2015" }
    </body>
</html>